button{
    padding: 16px;
    margin-left: 10px;
    border-radius: 5px;
}
.start{
    background-color: rgb(250, 72, 72);
}
.pause{
    
    background-color: rgb(13, 161, 13);
}
.reset{
    background-color: rgb(63, 63, 253);
}